include ../buttons/buttons

mixin dropdown(type, score1, score2, score3,active= false)
    if type == 'guests'
            .dropdown.dropdown-guests&attributes(attributes)
                .dropdown__select-container(class = active? 'dropdown__select-container_open' : 'dropdown__select-container_default')
                    span.dropdown__placeholder(class = active? 'dropdown__placeholder_open' : 'dropdown__placeholder_default') Сколько гостей
                    i.dropdown__material-icons.dropdown__material-icons_default.dropdown__material-icons_margin expand_more
                .dropdown__select-list(class = active?  'dropdown__select-list_open' : 'dropdown__select-list_default')
                    .dropdown__item.dropdown__item_one
                        .dropdown__item-name Взрослые
                        .dropdown__item-count
                            +button('only-text-default','-').item-count__button.item-count__button_min.item-count__button_hidden
                            .item-count__score #{score1} 
                            +button('only-text-default','+').item-count__button.item-count__button_plus
                    .dropdown__item.dropdown__item_two
                        .dropdown__item-name Дети
                        .dropdown__item-count
                            +button('only-text-default','-').item-count__button.item-count__button_min.item-count__button_hidden
                            .item-count__score #{score2} 
                            +button('only-text-default','+').item-count__button.item-count__button_plus
                    .dropdown__item.dropdown__item_three
                        .dropdown__item-name Младенцы
                        .dropdown__item-count
                            +button('only-text-default','-').item-count__button.item-count__button_min.item-count__button_hidden
                            .item-count__score.item-count__child #{score3} 
                            +button('only-text-default','+').item-count__button.item-count__button_plus
                    .dropdown__buttons
                        +button('only-text-default','Очистить').dropdown__clear-button.dropdown__clear-button_hidden
                        +button('only-text-colored','Применить').dropdown__apply-button
    else if type == 'room' 
            .dropdown.dropdown_size-s&attributes(attributes)  
                    .dropdown__select-container(class = active? 'dropdown__select-container_open' : 'dropdown__select-container_default')
                        span.dropdown__placeholder(class = active? 'dropdown__placeholder_open' : 'dropdown__placeholder_default') 
                        i.dropdown__material-icons.dropdown__material-icons_default.dropdown__material-icons_margin expand_more
                    .dropdown__select-list(class = active?  'dropdown__select-list_open' : 'dropdown__select-list_default')
                        .dropdown__item.dropdown__item_one
                            .dropdown__item-name Спальни
                            .dropdown__item-count
                                +button('only-text-default','-').item-count__button.item-count__button_min.item-count__button_hidden
                                .item-count__score.item-count__bedrooms #{score1} 
                                +button('only-text-default','+').item-count__button.item-count__button_plus
                        .dropdown__item.dropdown__item_two
                            .dropdown__item-name Кровати
                            .dropdown__item-count
                                +button('only-text-default','-').item-count__button.item-count__button_min.item-count__button_hidden
                                .item-count__score.item-count__beds #{score2} 
                                +button('only-text-default','+').item-count__button.item-count__button_plus
                        .dropdown__item.dropdown__item_three
                            .dropdown__item-name Ванные комнаты
                            .dropdown__item-count
                                +button('only-text-default','-', 'item-count__button_font').item-count__button.item-count__button_min.item-count__button_hidden
                                .item-count__score.item-count__bathrooms #{score3}
                                +button('only-text-default','+', 'item-count__button_font').item-count__button.item-count__button_plus                      

                        