include ../button/button

mixin dropdown(options={})
  -
    const {type,
    isActive= false,
    items = [],
    scores= {}
    } = options;
    const types = {
      guests: "dropdown_type_guests",
      room: "dropdown_type_room",
    }

    const classes = [
      types[type]
    ]
    const itemNameVariables = {
      "взрослые": "взрослый|взрослых|взрослых",
      "дети": "ребенок|ребенка|детей",
      "младенцы": "младенец|младенца|младенцев",
      "спальни": "спальня|спальни|спален",
      "кровати": "кровать|кровати|кроватей",
      "ванные комнаты": "ванная комната|ванные комнаты|ванных комнат"
    }

    const placeholderVariables = {
      guests: "Сколько гостей",
      rooms: "Какие удобства"
    }
  .dropdown.js-dropdown(class=classes)
    label.dropdown__select-container.js-dropdown__select-container
      input.dropdown__input.js-dropdown__input(type="text" 
      readonly
      placeholder=`${placeholderVariables[type]}`
      class = isActive? "dropdown__input_opened" : "dropdown__input_closed")
      i.dropdown__icon.js-dropdown__icon.dropdown__icon_closed expand_more
    ul.dropdown__select-list.js-dropdown__select-list(
      class = isActive?  "dropdown__select-list_opened" : "dropdown__select-list_closed"
      class=`dropdown__select-list_type_${type}`)
      each item in items
        li.dropdown__item
          span.dropdown__name #{item}
          .dropdown__count(data-name =`${itemNameVariables[item]}` data-id =`${items.indexOf(item)}`)
            .dropdown__button.dropdown__button_theme_circled.dropdown__button_type_min.js-dropdown__button_type_min.dropdown__button_visibility_transparent -
            span.dropdown__score.js-dropdown__score=`${options.scores && options.scores[item] !== undefined? options.scores[item] : 0 }`
            .dropdown__button.dropdown__button_theme_circled.dropdown__button_type_plus.js-dropdown__button_type_plus +

      if options.type === 'guests'
        li.dropdown__item.dropdown__item_margin-top
          .dropdown__button.dropdown__button_type_clear.js-dropdown__button_type_clear.dropdown__button_visibility_hidden
            +button({text:"Очистить"})
          .dropdown__button.dropdown__button_type_apply.js-dropdown__button_type_apply
            +button({text:"Применить"})