include ../buttons/buttons

mixin dropdown({type, score1 = 0, score2 = 0, score3 = 0,active = false})
  if type == "guests"
    .dropdown.js-dropdown.dropdown_guests
      .dropdown__select-container.js-dropdown__select-container(class = active? "dropdown__select-container_open" : "dropdown__select-container_default")
        span.dropdown__placeholder.js-dropdown__placeholder(class = active? "dropdown__placeholder_open" : "dropdown__placeholder_default") Сколько гостей
        i.dropdown__material-icons.js-dropdown__material-icons.dropdown__material-icons_default expand_more
      .dropdown__select-list.js-dropdown__select-list(class = active?  "dropdown__select-list_open-guests" : "dropdown__select-list_default")
        .dropdown__item
          .dropdown__item_name Взрослые
          .dropdown__item_count
            +button({theme:"text-default",text:"-"}).dropdown__item-button.js-dropdown__item-button_min.dropdown__item-button_hidden
            .dropdown__item-score.js-dropdown__item-score #{score1} 
            +button({theme:"text-default",text:"+"}).dropdown__item-button.js-dropdown__item-button_plus
        .dropdown__item.dropdown__item_margin
          .dropdown__item_name Дети
          .dropdown__item_count
            +button({theme:"text-default",text:"-"}).dropdown__item-button.js-dropdown__item-button_min.dropdown__item-button_hidden
            .dropdown__item-score.js-dropdown__item-score #{score2} 
            +button({theme:"text-default",text:"+"}).dropdown__item-button.js-dropdown__item-button_plus
        .dropdown__item
          .dropdown__item_name Младенцы
          .dropdown__item_count
            +button({theme:"text-default",text:"-"}).dropdown__item-button.js-dropdown__item-button_min.dropdown__item-button_hidden
            .dropdown__item-score.js-dropdown__item-score.dropdown__item-score_child #{score3} 
            +button({theme:"text-default",text:"+"}).dropdown__item-button.js-dropdown__item-button_plus
        .dropdown__buttons
          +button({theme:"text-colored",text:"Очистить"}).dropdown__clear-button.js-dropdown__clear-button.dropdown__clear-button_hidden
          +button({theme:"text-colored",text:"Применить"}).dropdown__apply-button.js-dropdown__apply-button
  else if type == "room" 
    .dropdown.js-dropdown.dropdown_room&attributes(attributes)  
      .dropdown__select-container.js-dropdown__select-container(class = active? "dropdown__select-container_open" : "dropdown__select-container_default")
        span.dropdown__placeholder.js-dropdown__placeholder(class = active? "dropdown__placeholder_open" : "dropdown__placeholder_default") 
        i.dropdown__material-icons.js-dropdown__material-icons.dropdown__material-icons_default expand_more
      .dropdown__select-list.js-dropdown__select-list(class = active?  "dropdown__select-list_open-room" : "dropdown__select-list_default")
        .dropdown__item
          .dropdown__item_name Спальни
          .dropdown__item_count
            +button({theme:"text-default",text:"-"}).dropdown__item-button.js-dropdown__item-button_min.dropdown__item-button_hidden
            .dropdown__item-score.js-dropdown__item-score.dropdown__item-score_bedrooms #{score1} 
            +button({theme:"text-default",text:"+"}).dropdown__item-button.js-dropdown__item-button_plus
        .dropdown__item.dropdown__item_margin
          .dropdown__item_name Кровати
          .dropdown__item_count
            +button({theme:"text-default",text:"-"}).dropdown__item-button.js-dropdown__item-button_min.dropdown__item-button_hidden
            .dropdown__item-score.js-dropdown__item-score.dropdown__item-score_beds #{score2} 
            +button({theme:"text-default",text:"+"}).dropdown__item-button.js-dropdown__item-button_plus
        .dropdown__item
          .dropdown__item_name Ванные комнаты
          .dropdown__item_count
            +button({theme:"text-default",text:"-"}).dropdown__item-button.js-dropdown__item-button_min.dropdown__item-button_hidden
            .dropdown__item-score.js-dropdown__item-score.dropdown__item-score_bathrooms #{score3}
            +button({theme:"text-default",text:"+"}).dropdown__item-button.js-dropdown__item-button_plus                      

