extends /components/page-head/page-head
include /components/header/header
include /components/footer/footer
include /components/simple-footer/simple-footer
include /components/calc-card/calc-card
include /components/bonus-icon/bonus-icon
include /components/comment/comment
include /components/bullet-list/bullet-list
include /components/donut-chart/donut-chart

block head
  - const title = 'Room details';
block content
  -
    const {bonusIcon:{
      comfort, convenience,cosiness},
      comments:{man,woman},
      bulletList} = require("./room-details.json");

  .room-details
    header.room-details__header
      +header
    main.room-details__content
      .room-details__gallery
        figure.room-details__gallery-item.room-details__gallery-item_size_large
          img.room-details__image(
            src=require('@images/bg-image-7.jpg').default,
            alt="room №888")
        .room-details__gallery-block
          figure.room-details__gallery-item
            img.room-details__image(
              src=require('@images/bg-image-5.jpg').default,
              alt="room №888")
          figure.room-details__gallery-item
            img.room-details__image(
              src=require('@images/bg-image-6.jpg').default,
              alt="room №888")

      article.room-details__wrapper
        .room-details__column
          .room-details__row
            section.room-details__bonus-icon-container
              h2.room-details__title Сведения о номере
              .room-details__bonus-icon
                +bonus-icon(comfort)
              .room-details__bonus-icon
                +bonus-icon(convenience)
              .room-details__bonus-icon
                +bonus-icon(cosiness)

            section.room-details__donut-chart-container
              h2.room-details__title Впечатления от номера
              .room-details__chart
                +chart

          section.room-details__comments-container
            .room-details__container-info
              h2.room-details__title Отзывы посетителей номера
              span.room-details__text.room-details__text_theme_small-font 2 отзыва
            .room-details__comment 
              +comment(man)
            .room-details__comment 
              +comment(woman)

          .room-details__row
            section.room-details__bullet-list-container
              h2.room-details__title Правила
              .room-details__bullet-list
                +bullet-list(bulletList)
            section.room-details__text-container
              h2.room-details__title Отмена
              p.room-details__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        aside.room-details__sidebar
          .room-details__card
            +calc-card

    footer.room-details__footer-block
      .room-details__line
      .room-details__footer.room-details__footer_type_default
        +footer
      .room-details__footer.room-details__footer_type_simple
        +simple-footer
