include /components/buttons/buttons
include /components/description/description

mixin dropdown_date(type,active=false,placeholder1,description1,placeholder2,description2,range= false)
    if type == 'filter'
        .dropdown-date.dropdown-date_filter&attributes(attributes)
            .dropdown-date__block
                +description(description1).dropdown-date__description
                label.dropdown-date__label
                    input(type='text' placeholder=placeholder1  
                    class='dropdown-date__input'
                    class=active? 'dropdown-date__input_filter' : '' 
                    class='datepicker-here' )
                    i.dropdown-date__material-icon.dropdown-date__material-icon_margin-m expand_more
    else if type == 'inline'
        .dropdown-date.dropdown-date__inline&attributes(attributes)
    else if type == 'double'
        .dropdown-date.dropdown-date_margin-s&attributes(attributes)
            label.dropdown-date__label
                .dropdown-date__block.dropdown-date__block_margin
                    +description(description1).dropdown-date__description
                    input(type='text' placeholder=placeholder1 
                            class = 'dropdown-date__input'
                            class=active? 'dropdown-date__input_double-start' : ''
                            class = range? 'dropdown-date__input_range' : '')
                    i.dropdown-date__material-icon.dropdown-date__material-icon_margin-s expand_more
                .dropdown-date__block
                    +description(description2).dropdown-date__description
                    input(type='text' placeholder=placeholder2 
                            class='dropdown-date__input' 
                            class=active? 'dropdown-date__input_double-end' : ''
                            class = range? 'dropdown-date__input_range' : '')
                    i.dropdown-date__material-icon.dropdown-date__material-icon_margin-s expand_more

                    