include /components/buttons/buttons
include /components/description/description

mixin dropdownDate(options={})
  - 
    const {
      type,
      isSettingDate=false,
      placeholder1="ДД.ММ.ГГГГ",
      description1,
      placeholder2="ДД.ММ.ГГГГ",
      description2
      } = options

  if type == "filter"
    .dropdown-date.js-dropdown-date.js-dropdown-date_filter
      .dropdown-date__block
        label.dropdown-date__label #{description1}
          input(type="text" placeholder=placeholder1  
          class="dropdown-date__input"
          class="js-dropdown-date__input_filter")
  else if type == "inline"
    .dropdown-date.js-dropdown-date.js-dropdown-date_inline
  else if type == "range"
    .dropdown-date.js-dropdown-date.js-dropdown-date_range
      .dropdown-date__wrapper
        .dropdown-date__block
          label.dropdown-date__label #{description1}
            input(type="text" placeholder=placeholder1 
              class = "dropdown-date__input"
              class = "dropdown-date__input_small"
              class="js-dropdown-date__input_range-start"
              class = isSettingDate? "js-dropdown-date__setting-date" : "")
        .dropdown-date__block
          label.dropdown-date__label #{description2}
            input(type="text" placeholder=placeholder2 
              class="dropdown-date__input"
              class = "dropdown-date__input_small"
              class="js-dropdown-date__input_range-end")

