include /components/buttons/buttons
include /components/description/description

mixin dropdownDate({type,active=false,placeholder1,description1,placeholder2,description2})
    if type == 'filter'
        .dropdown-date(class=active? 'js-dropdown-date_active js-dropdown-date_filter': '')&attributes(attributes)
              .dropdown-date__block_wrapper
                +description({'type':'default','text' : description1}).dropdown-date__description
                .dropdown-date__block
                    input(type='text' placeholder=placeholder1  
                    class='dropdown-date__input'
                    class=active? 'js-dropdown-date__input_filter' : '' 
                    disabled=!active)
    else if type == 'inline'
        .dropdown-date.js-dropdown-date_active.js-dropdown-date_inline&attributes(attributes)
    else if type == 'range'
        .dropdown-date.dropdown-date_margin-s(class=active? 'js-dropdown-date_active js-dropdown-date_range': '')&attributes(attributes)
            .dropdown-date__container_range.js-dropdown-date__container_range
                .dropdown-date__block_wrapper.dropdown-date__block_margin
                    +description({'type':'default','text' : description1}).dropdown-date__description
                    .dropdown-date__block
                    input(type='text' placeholder=placeholder1 
                            class = 'dropdown-date__input'
                            class = 'dropdown-date__input_s-150'
                            class=active? 'js-dropdown-date__input_range-start' : ''
                            class ='dropdown-date__input_range'
                            disabled=!active)
                .dropdown-date__block_wrapper
                    +description({'type':'default','text' : description2}).dropdown-date__description
                    .dropdown-date__block
                    input(type='text' placeholder=placeholder2 
                            class='dropdown-date__input'
                            class = 'dropdown-date__input_s-150'
                            class=active? 'js-dropdown-date__input_range-end' : ''
                            class ='dropdown-date__input_range'
                            disabled=!active)

                    