mixin radio(options = {})
  - const { name, value, text, checked = false } = options;

  .radio
    label.radio__label #{text}
      input.radio__input(
        type="radio",
        name=name,
        value=value,
        checked=checked)
      span.radio__mark
