mixin radio(radioID,name,value,text, checked = false)
    if checked
        .radio&attributes(attributes)
            label(for=radioID class='radio__label')
                input(type="radio" name=name value=value id=radioID class='radio__input' checked)
                span.radio__check
                span.radio__text #{text}
    else 
        .radio&attributes(attributes)
            label(for=radioID class='radio__label')
                input(type="radio" name=name value=value id=radioID class='radio__input')
                span.radio__check
                span.radio__text #{text}
                