mixin button(options)
  -
    const {theme,type="button",size,color,text,url,isDisabled=false} = options;

    const themes = {
      filled : "button_theme_filled",
      bordered: "button_theme_bordered",
    };

    const types = {
      button: "button_type_button",
      submit: "button_type_submit",
      link: "button_type_link",
    };

    const colors = {
      grey: "button_color_grey"
    };

    const sizes = {
      m : "button_size_m",
      s : "button_size_s",
    };

    const classes = [
      types[type],
      themes[theme],
      sizes[size],
      colors[color]
    ];

    const tag = type === "link"? "a" : "button";

    const buttonType = type === "link"? false : type;

  #{tag}.button(
    type=buttonType,
    name=name,
    value=value,
    class=classes,
    href=url,
    disabled=isDisabled) #{text}
