mixin button({theme,type="button",size,text,url, isDisabled=false})
  -
    const themes = {
      filled : "button_theme_filled",
      bordered: "button_theme_bordered",
      long: "button_theme_long",
      textColored: "button_theme_text-colored",
      textDefault: "button_theme_text-default"
    }

    const types = {
      button: "button_type_button",
      submit: "button_type_submit",
      link: "button_type_link",
    };

    const sizes = {
      lg : "button_size_lg",
      m : "button_size_m",
      s : "button_size_s",
    }

    const classes = [
      types[type],
      themes[theme],
      sizes[size]
    ];
    const tag = type === "link"? "a" : "button";
    const buttonType = type === "link"? false : type;
    const disabled = isDisabled? "button_theme_disabled": "";

  #{tag}.button(type=buttonType 
    name=name 
    value=value 
    class=classes 
    class=disabled 
    href=url)&attributes(attributes) #{text}