mixin button({theme,paddingSize,text,hoverTheme=false,type ='button',isLink=false, href})
  if !isLink
    button.button(class =`button_theme-${theme}` 
      class = `button_theme-${theme}_padding-${paddingSize}`
      class= hoverTheme? `button_hover` : '' 
      type=type)&attributes(attributes) #{text}
  else if isLink
    .button__link-container
      a.button__link(href=href 
      class =`button button_theme-${theme}`
      class = `button_theme-${theme}_padding-${paddingSize}`) #{text}