include /components/like-button/like-button

mixin comment({userPhoto,userName,date,likeCount,likeActive= false,text} = {})
  .comment
    .comment__block-user
      .comment__user-photo
        img.comment__photo(src=require(`@images/${userPhoto}`).default, alt="user photo")
      p.comment__user-info
        span.comment__user-name #{userName}
        span.comment__date #{date}
    .comment__block
      .comment__like-button
        +likeButton({count:likeCount,active:likeActive})
      p.comment__text #{text}
