include /components/like-button/like-button

mixin comment(options = {})
  -
    const {
      userPhoto,
      userName,
      date,
      like = {},
      text,
    } = options;

  .comment
    .comment__block-user
      .comment__user-photo
        img.comment__photo(
          src=require(`@images/${userPhoto}`).default,
          alt="user photo")
      p.comment__user-info
        span.comment__user-name #{userName}
        span.comment__date #{date}
    .comment__block
      .comment__like-button
        +like-button(like)
      p.comment__text #{text}
