include /components/like-button/like-button

mixin comment({userPhoto,userName,date,likeCount,likeActive,text})
  .comment
    .comment__block-user
      .comment__user-photo
        img(src=require(`@images/${userPhoto}`).default, alt='user photo' class='comment__photo')
      .comment__user-info
        span.comment__user-name #{userName}
        span.comment__date #{date}
    .comment__block
      .comment__like-button
        +likeButton({'count':likeCount,'active':likeActive})
      .comment__text #{text}
