include /components/dropdown-date/dropdown-date
include /components/dropdown/dropdown
include /components/description/description
include /components/button/button

mixin calc-card(options = {})
  -  
    const  {
      roomNumber = "888",
      isLuxury = true,
      roomPrice = "9 990",
      dropdownDateSetting ={type:"range",
        isSettingDate: true,
        description1:"прибытие",
        description2:"выезд"},
      dropdownSettings = {type: "guests",
      items: [
        "взрослые",
        "дети",
        "младенцы"
      ],
      scores: {
        "взрослые": 2,
        "дети": 1
      }},
      priceCalculating = "9 990",
      dayCalculating = "4 суток", 
      calculatingTotal = "39 960", 
      serviceSale = "2 179", 
      serviceTotal = "0", 
      additionalServiceTotal = "300",
      totalSum = "38 081"} = options

  .calc-card
    form(action="/mock-address/change-me" method="post").calc-card__form
      .calc-card__wrapper
        .calc-card__room-info
          p.calc-card__number-info
            span.calc-card__number.calc-card__number_font_small &#8470;&#32;
            span.calc-card__number #{roomNumber}
            if isLuxury
              span.calc-card__number-lux &nbsp;&nbsp;люкс
          p.calc-card__price-info
            span.calc-card__price #{roomPrice}&#8381;&#32;
            span.calc-card__price.calc-card__price_font_small в сутки

        .calc-card__dropdown-date
          +dropdown-date(dropdownDateSetting)
        .calc-card__guests
          .calc-card__description
            +description({text:"гости"})
          .calc-card__dropdown
            +dropdown(dropdownSettings)
        ul.calc-card__calculating-items
          li.calc-card__item
            p.calc-card__item-calculating #{priceCalculating}&#8381; x #{dayCalculating}
            p.calc-card__item-total #{calculatingTotal}&#8381;
          li.calc-card__item
            p.calc-card__item-calculating.calc-card__item-calculating_type_with-icon Сбор за услуги: скидка #{serviceSale}&#8381;
            p.calc-card__item-total #{serviceTotal}&#8381;
          li.calc-card__item
            p.calc-card__item-calculating.calc-card__item-calculating_type_with-icon.calc-card__item-calculating_font_small Сбор за дополнительные услуги
            p.calc-card__item-total #{additionalServiceTotal}&#8381;

      p.calc-card__total
        span.calc-card__total-text Итого
        span.calc-card__total-line
        span.calc-card__total-text #{totalSum}&#8381;
      .calc-card__button
        +button({theme:"filled",
          size:"m",
          text:"Забронировать",
          type: "submit"})