include /components/dropdown-date/dropdown-date
include /components/dropdown/dropdown
include /components/description/description
include /components/buttons/buttons

mixin calc-card(options = {})
  -  
    const  {
      roomNumber = "888",
      isLuxury = true,
      roomPrice = "9 900",
      dropdownDateSetting ={type:"range",
        active:true,
        setDate: true,
        description1:"прибытие",
        description2:"выезд"},
      dropdownSettings = {type:"guests",
        score1 :2,
        score2: 1},
      priceCalculating = "9 900",
      dayCalculating = "4 суток", 
      calculatingTotal = "39 960", 
      serviceSale = "2 179", 
      serviceTotal = "0", 
      additionalServiceTotal = "300",
      totalSum = "38 081"} = options

  .calc-card
    form(action="/mock-address/change-me" method="post").calc-card__form
      .calc-card__container.calc-card__container_row.calc-card__container_margin-b-21
        p.calc-card__info
          span.calc-card__info-no № 
            span.calc-card__info-num #{roomNumber}
            if isLuxury
              span.calc-card__info-luxury люкс
          span.calc-card__info-price #{roomPrice}₽ 
            span.calc-card__info-text в сутки
      .calc-card__container.calc-card__container_margin-b-21
        .calc-card__dropdown-date
          +dropdownDate(dropdownDateSetting)
      .calc-card__container.calc-card__container_column.calc-card__container_margin-b-18
        .calc-card__description
          +description({text:"гости"})
        .calc-card__dropdown
          +dropdown(dropdownSettings)
      .calc-card__container.calc-card__container_column.calc-card__container_margin-b-23
        ul.calc-card__items
          li.calc-card__item
            span.calc-card__item-calculating #{priceCalculating}₽ x #{dayCalculating}
            span.calc-card__item-total #{calculatingTotal}₽
          li.calc-card__item.calc-card__item_margin
            .calc-card__item-group
              span.calc-card__item-calculating Сбор за услуги: скидка #{serviceSale}₽
              span.calc-card__item-circle i
            span.calc-card__item-total #{serviceTotal}₽
          li.calc-card__item
            .calc-card__item-group
              span.calc-card__item-calculating Сбор за дополнительные услуги
              span.calc-card__item-circle i
            span.calc-card__item-total #{additionalServiceTotal}₽         
      .calc-card__container.calc-card__container_padding-0.calc-card__container_margin-b-21
        p.calc-card__total
          span.calc-card__total-text Итого
          span.calc-card__total-line
          span.calc-card__total-sum #{totalSum}₽
      .calc-card__container
        .calc-card__button
          +button({theme:"long",
            text:"Забронировать",
            type: "submit"})