mixin textField({type, placeholder}) 
  if type == 'text'
    .text-field&attributes(attributes)
      label.text-field__label
        input(type="text" placeholder=placeholder).text-field__input
  else if type == 'hoverText'
    .text-field&attributes(attributes)
      label.text-field__label
        input(type="text" placeholder=placeholder).text-field__input.text-field__input_hover
  else if type == 'subscribe'
    .text-field&attributes(attributes)
      label.text-field__label.text-field__label_subscribe
        input(type="email" placeholder=placeholder).text-field__input.text-field__input_subscribe
  else if type == 'mask'
    .text-field.js-text-field&attributes(attributes)
      .text-field__block
        label.text-field__label
          input(type="text" placeholder=placeholder).text-field__input.text-field__input_mask.js-text-field__input_mask
  else if type == 'password'
    .text-field&attributes(attributes)
      label.text-field__label
        input(type="password" placeholder=placeholder).text-field__input