include /components/buttons/buttons

mixin field(settings) 
    if settings.type == 'text'
        .text-field&attributes(attributes)
            label.text-field__label
                input(type="text" placeholder=settings.placeholder).text-field__input
    else if settings.type == 'hoverText'
        .text-field.text-field_hover-theme&attributes(attributes)
            label.text-field__label
                input(type="text" placeholder=settings.placeholder).text-field__input.text-field_hover-theme__input
    else if settings.type == 'subscribe'
        .text-field&attributes(attributes)
            label.text-field__label.text-field__label_sub
                input(type="email" placeholder=settings.placeholder).text-field__input.text-field__input_sub
                +button('only-text-colored','arrow_forward').text-field__material-icon
    else if settings.type == 'mask'
        .text-field&attributes(attributes)
            .text-field__block
                label.text-field__label
                    input(type="text" placeholder=settings.placeholder).text-field__input.text-field__input_mask
    else if settings.type == 'password'
        .text-field&attributes(attributes)
            label.text-field__label
                input(type="password" placeholder=settings.placeholder).text-field__input