//- theme for Material Icon: lin-grad

//- theme type for text-field__block :
    hover-theme

include /components/buttons/buttons

    
mixin field(type,placeholder) 
    if type == 'text'
        .text-field&attributes(attributes)
            lable.text-field__lable
                input(type="text" placeholder=placeholder).text-field__input
    else if type == 'hoverText'
        .text-field.text-field_hover-theme&attributes(attributes)
            lable.text-field__lable
                input(type="text" placeholder=placeholder).text-field__input.text-field_hover-theme__input
    else if type == 'sub'
        .text-field&attributes(attributes)
            label.text-field__lable.text-field__lable_sub
                input(type="email" placeholder=placeholder).text-field__input.text-field__input_sub
                +button('only-text-colored','arrow_forward').text-field__material-icon
    else if type == 'mask'
        .text-field&attributes(attributes)
            .text-field__block
                label.text-field__lable
                    input(type="text" placeholder=placeholder).text-field__input.text-field__input_mask
    else if type == 'password'
        .text-field&attributes(attributes)
            lable.text-field__lable
                input(type="password" placeholder=placeholder).text-field__input