mixin textField({type, placeholder, materialIcon = false}) 
  if type == 'text'
    .text-field
      label.text-field__label
        input(type="text" placeholder=placeholder).text-field__input
  else if type == 'hoverText'
    .text-field
      label.text-field__label
        input(type="text" placeholder=placeholder).text-field__input.text-field__input_hover
  else if type == 'email'
    .text-field
      label.text-field__label(class = materialIcon? 'text-field__label_subscribe' : '')
        input(type="email" placeholder=placeholder 
          class = materialIcon? 'text-field__input_subscribe' : '').text-field__input
  else if type == 'mask'
    .text-field.js-text-field
      .text-field__block
        label.text-field__label
          input(type="text" placeholder=placeholder).text-field__input.text-field__input_mask.js-text-field__input_mask
  else if type == 'password'
    .text-field
      label.text-field__label
        input(type="password" placeholder=placeholder).text-field__input