mixin checkbox(options = {})
  -
    const {
      isTypeRich = false,
      checked=false,
      textWidth="medium",
      name,
      text,
      header
      } = options

    const textWidthTypes = {
      medium: "checkbox__text_size_medium",
      large: "checkbox__text_size_large",
    }

  .checkbox
    label.checkbox__label(class=isTypeRich? "checkbox__label_type_rich" : "") 
      input(type = "checkbox" class="checkbox__input" checked=checked name=name)
      span.checkbox__mark
      if isTypeRich
        span.checkbox__header #{header}
      span.checkbox__text(class=textWidthTypes[textWidth]
      class=isTypeRich? "checkbox__text_type_rich" : "") #{text}