mixin checkbox(inputID, text, checked=false)
    if checked
        form.checkbox&attributes(attributes)
            input(type="checkbox", id=inputID class='checkbox__input' checked)
            label(for=inputID class='checkbox__label') #{text}
    else
        form.checkbox&attributes(attributes)
            input(type="checkbox", id=inputID class='checkbox__input')
            label(for=inputID class='checkbox__label') #{text}