mixin checkbox({type='default',checked=false, shortText = false, text, head})
  if type == 'rich'
    .checkbox.checkbox_rich&attributes(attributes)
      label(class='checkbox__label checkbox__label_rich') 
        input(type="checkbox" class='checkbox__input')
        .checkbox__mark
        .checkbox__label_rich-header #{head}
        .checkbox__label_rich-text(class=shortText? 'checkbox__short-text_width-200': '') #{text}
  else
    .checkbox&attributes(attributes)
      label.checkbox__label(class=shortText? 'checkbox__short-text_width-230': '') #{text}
        input(type = 'checkbox' class='checkbox__input' checked=checked)
        .checkbox__mark