mixin iconList({typeIcon, header, text,blockLine= true})
  if blockLine
    .icon-list
      .icon-list__container
        .icon-list__block
          i.icon-list__material-icons #{typeIcon}
        .icon-list__block
          .icon-list__text-block
            span.icon-list__text_bold #{header}
            span.icon-list__text #{text}
      .icon-list__block-line
  else
    .icon-list
      .icon-list__container
        .icon-list__block
          i.icon-list__material-icons #{typeIcon}
        .icon-list__block
          .icon-list__text-block
            span.icon-list__text_bold #{header}
            span.icon-list__text #{text}
