mixin text-field(options)
  -
    const {type, theme, placeholder, isWithMask= false, isActive = false} = options;

    const themes = {
      subscribe: "text-field__input_theme_subscribe",
    };

    const types = {
      text: "text-field__input_type_text",
      email: "text-field__input_type_email",
      password: "text-field__input_type_password",
    };

    const classes = [
      themes[theme],
      types[type],
    ];

    const blockTheme = theme === "subscribe" ? "text-field_theme_subscribe" : "";


  .text-field(class = blockTheme)
    label.text-field__label
      input.text-field__input(
        type=`${type}`,
        placeholder=placeholder,
        class=classes,
        class=isWithMask ? 'text-field__input_masked js-text-field__input_masked' : '',
        class=isActive ? 'text-field__input_active' : '')
    if theme === "subscribe"
      button(type="submit" name="subscribe" value="submit").text-field__button arrow_forward

